
:root{
    --color-default:#004f83;
    --color-second:#0067ac;
    --color-white:#fff;
    --color-body:#e4e9f7;
    --color-light:#e0e0e0;
  }
  
  
  *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:'roboto','poppins','sans-serif';
  }
  
  body{
      min-height: 100vh; 
  }
  
  .sidebar{
    min-height: 100vh;
    width: 78px;
    padding: 6px 14px;
    z-index: 99;
    background-color: var(--color-default);
    transition: all .5s ease;
    position: fixed;
    top:0;
    left: 0;
  }
  
  .sidebar.open{
    width: 250px;
  }
  
  .sidebar .logo_details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .sidebar .logo_details .icon{
    opacity: 0;
    transition: all 0.5s ease ;
  }
  
  
  
  .sidebar .logo_details .logo_name{
    color:var(--color-white);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all .5s ease;
  }
  
  .sidebar.open .logo_details .icon,
  .sidebar.open .logo_details .logo_name{
    opacity: 1;
  }
  
  .sidebar .logo_details #btn{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
  }
  
  .sidebar.open .logo_details #btn{
    text-align: right;
  }
  
  .sidebar i{
    color:var(--color-white);
    height: 60px;
    line-height: 60px;
    min-width: 50px;
    font-size: 25px;
    text-align: center;
  }
  
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  
  .sidebar li{
    position: relative;
    margin:8px 0;
    list-style: none;
  }
  
  .sidebar li .tooltip{
    position: absolute;
    top:-20px;
    left:calc(100% + 15px);
    z-index: 3;
    background-color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
  }
  
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top:50%;
    transform: translateY(-50%);
  }
  
  .sidebar.open li .tooltip{
    display: none;
  }
  
  .sidebar input{
    font-size: 15px;
    color: var(--color-white);
    font-weight: 400;
    outline: none;
    height: 35px;
    width: 35px;
    border:none;
    border-radius: 5px;
    background-color: var(--color-second);
    transition: all .5s ease;
  }
  
  .sidebar input::placeholder{
    color:var(--color-light)
  }
  
  .sidebar.open input{
    width: 100%;
    padding: 0 20px 0 50px;
  }
  
  .sidebar .bx-search{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    font-size: 22px;
    background-color: var(--color-second);
    color: var(--color-white);
  }
  
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-default);
    position: relative;
    transition: all .5s ease;
    z-index: 12;
  }
  
  .sidebar li a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: var(--color-white);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    z-index: -2;
  }
  
  .sidebar li a:hover::after{
    transform: scaleX(1);
    color:var(--color-default)
  }
  
  .sidebar li a .link_name{
    color:var(--color-white);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: auto;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
  }
  
  .sidebar li a:hover .link_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color:var(--color-default)
  }
  
  .sidebar.open li a .link_name{
    opacity: 1;
    pointer-events: auto;
  }
  
  .sidebar li i{
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom:-8px;
    padding:10px 14px;
    overflow: hidden;
    transition: all .5s ease;
  }
  
  .sidebar.open li.profile{
    width: 250px;
  }
  
  .sidebar .profile .profile_details{
    display: flex;
    align-items: center;
    flex-wrap:  nowrap;
  }
  
  .sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .sidebar li.profile .name,
  .sidebar li.profile .designation{
    font-size: 15px;
    font-weight: 400;
    color:var(--color-white);
    white-space: nowrap;
  }
  
  .sidebar li.profile .designation{
    font-size: 12px;
  }
  
  .sidebar .profile #log_out{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--color-second);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .sidebar.open .profile #log_out{
    width: 50px;
    background: none;
  }
  
  





























/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:'poppins','roboto','sans-serif';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../Images/c.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size:2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position:relative;
    font-size:1.1em;
    color:#fff;
    text-decoration:none;
    font-weight:500;
    margin-left:40px;
}

.navigation a::after {
    content: '';
    position:absolute;
    left:0;
    bottom: -6px;
    width:100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnlogin-popup{
    width:130px;
    height:50px;
    background:transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnlogin-popup:hover{
    background: #fff;
    color:#162938;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height:520px;
}

.wrapper.form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    
    transition: transform .18s ease;
    transform: translateX(0);
}




.wrapper.active .form-box.login{
    transition:none;
    transform: translateX(-400px)
}

.wrapper .form-box.register {
    position: absolute;
    transition:none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top:0;
    right:0;
    width:45px;
    height:45px;
    background:#162938;
    font-size: 2em;
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor:pointer;
    z-index: 1;
}
.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align:center;
}

.input-box{
    position:relative;
    width:100%;
    height:50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    font-size:1em;
    color:#162938;
    font-weight:500;
    pointer-events: none;
    transition: .5s;
}

.input-box input{
    width: 100%;
    height:100%;
    background: transparent;
    border: none;
    outline:none;
    font-size:1em;
    font-weight:600;
    color:#162938;
    padding: 0 35px 0 5px;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color:#162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right:3px;
}

.remember-forgot a{
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width:100%;
    height:45px;
    background: #162938;
    border:none;
    outline:none;
    border-radius: 6px;
    cursor:pointer;
    font-size:1em;
    font-weight: 500;
    color:#fff;
}

.login-register{
    font-size: .9em;
    color:#162938;
    text-align:center;
    font-weight:500;
    margin: 25px 0 10px;
}

.login-register p a {
    color:#162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
} */