{% extends 'ARDOfficer/base.html' %}

{% block title %}
    Your Page Title
{% endblock title %}

{% block content %}
    <section class="home-section">
        <div class="text">Analytics dashboard</div>
    </section>

    <h1 class="heading">Consultancy Chart</h1>

    <div class="wrapper">
        <div class="pie-wrap">
            <!-- Your content here -->
            <!-- ... -->
            <div class="light-yellow entry">
            <p>25%</p>
            <p class="entry-value">Rice</p>
            </div>

            <div class="sky-blue entry">
                <p>25%</p>
                <p class="entry-value">Soil</p>
            </div>
            
            <div class="pink entry">
                <p>12.5%</p>
                <p class="entry-value">Beans </p>
            </div>
            
            <div class="purple entry">
                <p> 12.5%</p>
                <p class="entry-value">Paste</p>
            </div>
            
            <div class="green entry">
                <p> 12.5%</p>
                <p class="entry-value">Potato</p>
            </div>
            
            <div class="wheat entry">
                <p> 12.5%</p>
                <p class="entry-value">Fish</p>
            </div>
        </div>
    </div>
{% endblock %}
