{% extends 'ARDOfficer/base.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <section class="home-section">
        <div class="text">News</div>
    </section>

    <div class="calendar">
        <h1>Bangladeshi Crop Calendar</h1>
        <table>
            <tr>
                <th>Month</th>
                <th>Main Crops</th>
            </tr>
            <tr>
              <td>January</td>
              <td>Rice, Wheat, Mustard, Potato</td>
          </tr>
          <tr>
              <td>February</td>
              <td>Rice, Wheat, Mustard, Potato</td>
          </tr>
          <tr>
              <td>March</td>
              <td>Rice, Jute, Sugarcane, Wheat</td>
          </tr>
          <tr>
              <td>April</td>
              <td>Rice, Jute, Sugarcane, Maize</td>
          </tr>
          <tr>
              <td>May</td>
              <td>Rice, Jute, Sugarcane, Maize</td>
          </tr>
          <tr>
              <td>June</td>
              <td>Jute, Sugarcane, Maize, Vegetables</td>
          </tr>
          <tr>
              <td>July</td>
              <td>Jute, Sugarcane, Maize, Vegetables</td>
          </tr>
          <tr>
              <td>August</td>
              <td>Jute, Sugarcane, Maize, Vegetables</td>
          </tr>
          <tr>
              <td>September</td>
              <td>Rice, Jute, Wheat, Vegetables</td>
          </tr>
          <tr>
              <td>October</td>
              <td>Rice, Wheat, Mustard, Vegetables</td>
          </tr>
          <tr>
              <td>November</td>
              <td>Rice, Wheat, Mustard, Vegetables</td>
          </tr>
          <tr>
              <td>December</td>
              <td>Rice, Wheat, Mustard, Vegetables</td>
          </tr>
        </table>
    </div>
{% endblock %}