{% load static %}  
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'HomePage/css/main.css' %}">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg  bg-success">
        <div class="container-fluid">
            {% block contentLogo %}
    
            {% endblock %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Service</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Seller Lists
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled text-white" aria-disabled="true">Servicess</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-sign">
                        <a class="btn btn-outline-light " href="{% url 'LandingPage:loginmain' %}">Sign in</a>
                    </li>
                    <li class="nav-sign">
                        <a class="btn btn-outline-light" href="{% url 'LandingPage:signup' %}">Sign up</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>




    <!-- ------------------------------ -->
    <!-- Swiper -->
    <section class="image-slider-container">
      <div class="swiper mySwiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="slide-content">
                    <h1></h1>
                    <p>Here farmers find quality supplies at unbeatable prices. Your journey to prosperous farming begins here</p>
                      <img src="{% static 'HomePage/image/image-slider/4.jpg' %}" alt="">
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="slide-content">
                    <h1></h1>
                    <p>Explore our extensive range of durable tools designed to enhance efficiency on your farm. Precision meets affordability</p>
                      <img src="{% static 'HomePage/image/image-slider/5.jpg' %}" alt="">
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-content">
                  <h1></h1>
                  <p>Plant the seeds of a bountiful harvest with our premium seed collection. Quality seeds, exceptional growth, and pocket-friendly prices</p>
                    <img src="{% static 'HomePage/image/image-slider/3.jpg' %}" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-content">
                  <h1></h1>
                  <p>Boost your crop yield with our nutrient-rich fertilizers. Nourish your soil without draining your wallet</p>
                    <img src="{% static 'HomePage/image/image-slider/6.jpg' %}" alt="">
                </div>
            </div>
              <div class="swiper-slide">
                <div class="slide-content">
                  <h1></h1>
                  <p>Safeguard your hard work with our reliable crop protection solutions. Effective, affordable, and designed for your peace of mind</p>
                    <img src="{% static 'HomePage/image/image-slider/7.jpg' %}" alt="">
                </div>
            </div>
              <div class="swiper-slide">
                <div class="slide-content">
                  <h1></h1>
                  <p>Whether you're a smallholder or a large-scale farmer, our diverse range of products caters to your unique needs. Quality for all</p>
                    <img src="{% static 'HomePage/image/image-slider/8.jpg' %}" alt="">
                </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <h1></h1>
                <p>Discover a world of quality agricultural supplies at unbeatable prices. Your farm deserves the best, and we're here to make it accessible to you</p>
                  <img src="{% static 'HomePage/image/image-slider/2.jpg' %}" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <h1></h1>
                <p>We believe every farmer should have access to top-notch supplies. Uncover a treasure trove of agricultural solutions tailored to meet your needs and your budget</p>
                  <img src="{% static 'HomePage/image/image-slider/8.jpg' %}" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <h1></h1>
                <p>Experience the convenience of ordering online. Seamless transactions and prompt delivery ensure your farm never misses a beat</p>
                  <img src="{% static 'HomePage/image/image-slider/10.jpg' %}" alt="">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="slide-content">
                <h1></h1>
                <p>From one farming family to another, we understand your business</p>
                  <img src="{% static 'HomePage/image/image-slider/1.jpg' %}"alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-content">
                <h1></h1>
                <p>Safeguard your hard work with our reliable crop protection solutions. Effective, affordable, and designed for your peace of mind</p>
                  <img src="{% static 'HomePage/image/image-slider/2.jpg' %}"alt="">
              </div>
            </div>
              
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
      </div>
  </section>
  

    <div class="section-gap">

    </div>
   
  
   

      <!--  -->
      <!-- product section -->
      <section class="product-list-container">
        <h1 class="product-heading">Farming and Equestrian Specialists</h1>
        <div style="width:50% ; height:4px; color:rgb(11, 11, 11); text-align:center;" ></div>
        <h1 class="product-title">
            Product List
        </h1>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'HomePage/image/product-picture/6BF57FBB-2525-4D8D-A477-78D7ACA62CEB_1_201_a-300x309.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Farming Equipements</h5>
                  <p class="card-text">price: 1250 Tk</p>
                  <div class="d-grid gap-2">
                    <button class="btn btn-success" type="button">Add To Cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'HomePage/image/product-picture/Clipper-Blue-300x225.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">3 Wheel Cart</h5>
                  <p class="card-text">Price: 3270 Tk</p>
                  <div class="d-grid gap-2">
                    <button class="btn btn-success" type="button">Add To Cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'HomePage/image/product-picture/st400i-cordless-fence-post-stapler.3_f-300x255.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fertilizer Machine</h5>
                  <p class="card-text">Price: 2250 Tk</p>
                  <div class="d-grid gap-2">
                    <button class="btn btn-success" type="button">Add To Cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img style="height:70% ; width: 80%;" src="{% static 'HomePage/image/product-picture/cow-feed.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cow Feed</h5>
                  <p class="card-text">Price: 890 Tk</p>
                  <div class="d-grid gap-2">
                    <button class="btn btn-success" type="button">Add To Cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div  class="col">
                <div class="card h-100">
                  <img style="height:70% ; width: 80%;"  src="{% static 'HomePage/image/product-picture/fish-feed.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Fish Feed</h5>
                    <p class="card-text">Price: 740 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="{% static 'HomePage/image/product-picture/WaterPump.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Water Pump</h5>
                    <p class="card-text">Price: 8590 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img style="height:70% ; width: 80%;"  src="{% static 'HomePage/image/product-picture/f-2.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Soil Fertilizer</h5>
                    <p class="card-text">Price: 540 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img style="height:70% ; width: 80%;"  src="{% static 'HomePage/image/product-picture/Heera-2.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Heera-2 Seeds</h5>
                    <p class="card-text">Price: 380 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img style="height:70% ; width: 80%;"  src="{% static 'HomePage/image/product-picture/sunflower+seed+front+of+pack.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">SunFlower Seeds</h5>
                    <p class="card-text">Price: 990 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="{% static 'HomePage/image/product-picture/tructor-2.jpg' %}"  class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Small Tructor Head</h5>
                    <p class="card-text">Price: 35000 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img  src="{% static 'HomePage/image/product-picture/tructor.jpeg' %}" class="card-img-top" alt="..."> 
                  <div class="card-body">
                    <h5 class="card-title">Big Tructor</h5>
                    <p class="card-text">Price: 250000 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img style="height:70% ; width: 80%;"  src="{% static 'HomePage/image/product-picture/fertilizer-packaging-bags-500x500.webp' %}" class="card-img-top" alt="...">
                  <div class="card-body"> 
                    <h5 class="card-title">Agro Care Fertilizer</h5>
                    <p class="card-text">Price: 630 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="{% static 'HomePage/image/product-picture/A.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Small Spade</h5>
                    <p class="card-text">Price: 220 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="{% static 'HomePage/image/product-picture/radish.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Goodman Seeds</h5>
                    <p class="card-text">Price: 1099 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img style="height:70% ; width: 80%;"  src="{% static 'HomePage/image/product-picture/spade.webp' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Spade</h5>
                    <p class="card-text">Price: 780 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="{% static 'HomePage/image/product-picture/babycow.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Baby Cow</h5>
                    <p class="card-text">Price: 5600 Tk</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Add To Cart</button>
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </section>




     
    

<div class="line">

</div>
<!-- ------ ---------Footer -->

<footer>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div>
            <h3>Logo</h3>
            <p class="mb-30 footer-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad soluta facilis
              eos quia optio iusto odit atque eum tempore, quisquam officiis vero veniam hic,</p>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
          <div class="">
            <h4>Quick Link</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-decoration-none">Home</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">About Us</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Service</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div>
            <h4>Service</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-decoration-none">Marketing</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Branding</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Web Design</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Graphics Design</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div>
            <h4>Newsletter</h4>
            <div>
              <label for="Newsletter" class="form-label">Subscribe To Our Newsletter</label>
              <input type="text" class="form-control" Placeholder="Enter Your Email">
              <button class="btn btn-danger mt-3">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="copyright">
          <p>Developed and maintained by <a href="#" target="_blank">company</a></p>
        </div>
      </div>
    </div>
  </footer>


























    <!----------------------------------------------------------------------------------------------------->
    <!----------------------------------------Booothstrap lilnk------------------------------------------------------------->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!----------------------------------------------------------------------------------------------------->
    <!----------------------------------------Swiper js cdn------------------------------------------------------------->
     <!-- Swiper JS -->
   <!-- Swiper JS -->
   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


   <script src="{% static 'HomePage/js/main.js' %}"></script>

   
</body>

</html>